*.vsidx
*.suo
/.vs/Portfolio/CopilotIndices/17.14.995.13737
/.vs/Portfolio/v17
/.vs/Portfolio/copilot-chat/9b7bfcd4/sessions/eaf010f0-9193-4c53-97cd-e134b71d7baa
/.vs/Portfolio/CopilotIndices/17.14.1204.46620
